VITE_NODE_ENVIRONMENT = <DEVLOPING-ENVIRONEMNT>
VITE_AGE_CHECKER_KEY = <AGE_CHECKER_API_KEY>
VITE_FRONT_END_URL = <FRONTENT_URL>
VITE_BACK_END_URL = <BACKEND_URL>
VITE_BACKEND_AUTH_TOKEN = <WORDPRESS_API_AUTH_KEY>
VITE_EMERCHANT_PAY_AUTH = <EMERCHANT_CREDENTIALS_TOKEN>
VITE_VEROTEL_SIGNATURE_KEY = <VEROTEL_SIGNATURE_KEY>
VITE_VEROTEL_SHOP_ID = <VEROTEL_SHOP_ID>
VITE_CLARITY_PROJECT_ID = <CLARITY_ID>
VITE_SECRET_HASH_KEY = <SECRET_HASH_KEY>
VITE_SECRET_COOKIE_KEY = <COOKIE_SECRET_KEY_FOR_TOKEN>
VITE_COMETCHAT_APP_ID= <your-app-id>
VITE_COMETCHAT_REGION= <your-region>
VITE_COMETCHAT_AUTH_KEY= <your-auth-key>
VITE_COMETCHAT_REST_API_KEY= <your-rest-api-key>
VITE_COMETCHAT_API_VERSION= <v3>
